.reserve {
  padding: 62px 0 124px;
}

.reserve__title {
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.reserve__list {
  max-width: 696px;
  margin-bottom: 72px;
  padding-left: 24px;
  line-height: 1.5;
  color: #BFBDB2;
}

.reserve__item {
  margin-bottom: 8px;
}

.reserve__item:last-child {
  margin-bottom: 0;
}

.reserve__form-container {
  margin-bottom: 40px;
}

.reserve__fieldset {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 72px;
  gap: 8px;
  border: 0;
}

.reserve__fieldset[name='fieldSpec'] {
  min-height: 92px;
}

.reserve__legend {
  margin-bottom: 24px;
  flex-basis: 100%;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
}

.reserve__fieldset_sub {
  flex-basis: 100%;
  margin-bottom: 24px;
}

.reserve__fieldset:last-child {
  margin-bottom: 0;
}

.radio-input {
  position: absolute;
  -webkit-appearance: none; /* скрыть input */
  -moz-appearance: none; /* скрыть input */
  appearance: none; /* скрыть input */
}

.radio-label {
  display: inline-block;
  padding: 16px 24px;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: #F6F3E3;
  border: 1px solid #BFBDB2;
  border-radius: 36px;
  cursor: pointer;
  transition: all 0.3s;
}

.radio-label:hover:not(:disabled) {
  color: #efe7be;
}

.radio-input:focus + .radio-label,
.radio-input:checked + .radio-label {
  color: #241D1C;
  background-color: #F6F3E3;
}

.radio-input:disabled + .radio-label {
  color: #F6F3E3;
  opacity: 0.3;
  cursor: default;
}

.radio__label_spec {
  position: relative;
  padding-left: 52px; /*ширина иконки 36 + отступ 8+8*/
}

.radio__label_spec::before {
  content:'';
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
}

.reserve__message {
  padding: 20px 0;
  text-align: center;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .reserve {
    padding: 40px 0 80px;
  }

  .reserve__title {
    font-size: 32px;
  }
  
  .reserve__list {
    width: 100%;
    margin-bottom: 40px;
  }

  .radio-label {
    padding: 12px 16px;
  }
  
  .radio__label_spec {
    padding-left: 40px;
  }

  .radio__label_spec::before {
    width: 24px;
    height: 24px;
  }

  .reserve__fieldset {
    margin-bottom: 40px;
  }
  
  .reserve__legend {
    margin-bottom: 16px;
    font-size: 16px;
  }
  
  .reserve__fieldset_sub {
    margin-bottom: 10px;
  }

  .reserve__form-container {
    margin-bottom: 32px;
  }
}

@media (max-width: 560px) {
  .reserve {
    padding: 32px 0 64px;
  }

  .reserve__title {
    margin-bottom: 16px;
    font-size: 20px;
  }
  
  .reserve__list {
    margin-bottom: 32px;
    padding-left: 18px;
    font-size: 12px;
    line-height: 1.2;
  }

  .reserve__fieldset {
    margin-bottom: 32px;
    gap: 4px;
  }

  .reserve__fieldset_sub {
    margin-bottom: 20px;
  }

  .reserve__form-container {
    margin-bottom: 24px;
  }
}